@media screen and (min-width: 992px) {
    .navbar .container-fluid, .navbar-expand-lg .navbar-collapse, .navbar-expand-lg .navbar-nav{
        flex-direction: column;
        margin-top: 10%;
        

    }
    .navbar{
        width: 15%;
        height: 100vh;
        align-items: flex-start;
        position: relative;
        top: -35px;
    }
    .navbar-nav .nav-link.active, .navbar-brand, .nav-link{
        color: blue;
    }
}